/node_modules
/public/hot
/public/storage
/public/filemanager-files
/storage/*.key
/vendor
/public
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
public/user_photo/
public/user_cv/
public/user_doc/
.phpstorm.meta.php
_ide_helper.php
storage/debugbar/
public/uploads/
public/docs